<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h2 class="titulo">Resultado</h2>
    <div class="row">
        <div class="fondoItem">
            <div class="contenedor">
                <div>
                    <p class="resultado">
                        {{resultado}}
                    </p>
                    <p class="estilo-numero">
                     {{imc}}
                    </p>
                    <p class="descripcion">
                        {{descripcion}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button routerLink="/" class="btn btn-primary btn-color">ReCalcular</button>
    </div>
  </div>
</div>
